.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 150px;
  margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.social {
  position: absolute;
  top: 1186px;
  left: 575px;
  width: 230px;
  display: flex;
  justify-content: space-around;
}

.social-mobile {
  position: absolute;
  top: 644px;
  left: 174px;
  width: 112px;
  display: flex;
  justify-content: space-around;
}

.social-img {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
